[submodule "dependencies/cxl_shmem"]
	path = dependencies/cxl_shmem
	url = https://github.com/pasha-project/cxl_shmem.git
[submodule "dependencies/vhive_setup"]
	path = dependencies/vhive_setup
	url = https://github.com/pasha-project/vhive_setup.git
