[submodule "dependencies/vhive_setup"]
	path = dependencies/vhive_setup
	url = https://github.com/pasha-project/vhive_setup.git
[submodule "dependencies/cxlalloc"]
	path = dependencies/cxlalloc
	url = https://github.com/nwtnni/cxlalloc.git
[submodule "dependencies/cxl_shmem"]
	path = dependencies/cxl_shmem
	url = https://github.com/pasha-project/cxl_shmem.git
