[submodule "dependencies/vhive_setup"]
	path = dependencies/vhive_setup
	url = https://github.com/pasha-project/vhive_setup.git
[submodule "dependencies/cxlalloc"]
	path = dependencies/cxlalloc
	url = https://github.com/nwtnni/cxlalloc.git
